Week13/Outputs/metad1_initmonitor/metad_v1.out
Week3/Data/md_50ns/md_0_50.xtc
Week3/Data/md_50ns/md_0_50_noPBC.xtc
Week3/Data/slurm-25494716.out
Week4/Setup/NaCl_CHARMM36M/gromacs/msd_cl.xvg
Week4/Setup/NaCl_CHARMM36M/gromacs/msd_na.xvg
Week4/Setup/NaCl_CHARMM36M/gromacs/msd_oxygen.xvg